#vigyor{
  width: 150px;
}
.szegely1{
  border:1px solid green;
  margin:20px;
  padding:10px;
}
ul{
  text-align: left;
}
.keretBal{
  border:1px solid orange;
  box-shadow: 5px 5px 5px;
  margin: 20px;
  text-align: left;
  padding:20px;
}
.ketOszlop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.oszlop{
  flex: 40%;
  margin: 10px;
  border: 1px solid green;
  padding:10px;
  box-sizing: border-box; 
}